<html>
    <head>
        <title>MLR</title>
        <link rel="manifest" href="/manifest.json">
        <style>
            html {
                background-color: black;
            }

            h1 {
                color: white;
                text-align: center;
            }

            #bg {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
        </style>
    </head>
    <body>
        <h1>Mobile Lip Reading</h1>

        <!--Video Feed-->
        <img id="bg" src="{{ url_for('video_feed')}}"
    </body>
</html>